body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  /* color: #FFF; */
}

h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

p {
  color: #8F8F8F;
}

#title {
  background-color: #FF4C88;
  color: #FFF;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title-Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68
}

.icon-bottom-text {
  margin-top: 1rem;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #EF8172;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
  padding-left: 17%;
}

.press-logo {
  width: 17%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #000000
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */
#cta{
  background-color: #FF4C68;
  color: #FFF;
  padding: 7% 15%;
  text-align: center;
}
.cta-content{
  font-family: 'Montserrat-Black';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
